.articleshare {
	width: auto;
	height: 0px;
	cursor: default;
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
	text-align: right;
	border: none;
}

.articlesharehr {
	border: none;
	border-top-style: dotted;
	border-top-color: black;
	border-top-width: 1px;
	height: 0px;
	background-color: white;
}

#articlesharehroben {
	margin-bottom: 2px;
}

#articlesharehrunten {
	margin-top: 2px;
}

#teilenbutton {
	margin-right: 0px;
	display: none;
}

.teilenbutton {
	cursor: pointer;
	color: white;
}

.teilentd {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	height: 40px;
	width: 50px;
	border: none;
	cursor: pointer;
	font-size: 130%;
}

#whatsappteilentd {
	background-color: #25D366;
}

#telegramteilentd {
	background-color: #0088cc;
}

#twitterteilentd {
	background-color: #1da1f2;
}

#mastodonteilentd {
	background-color: #2b90d9;
}

#emailteilentd {
	background-color: rgb(192,0,0);
}

#linkteilentd {
	background-color: black;
}

#mastodoninstanztd {
	display: none;
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
	min-width: 450px;
}

#mastodoninstanz {
	vertical-align: 1px;
}

#mastodoninstanzok {
	color: white;
	background-color: rgb(192,0,0);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 6px;
	vertical-align: 1px;
	font-style: normal;
	margin-left: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 80%;
	font-weight: bold;
}

#https {
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 3px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-right-style: dotted;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	font-style: normal;
	padding-right: 3px;
	color: #767676;
	margin-left: 15px;
}

#mastodoninstanzinput {
	border-radius: 3px;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 3px;
	background-color: transparent;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	vertical-align: 0px;
	border-left-style: none;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
	font-size: 100%;
}

#mastodoninstanzabbrechen {
	margin-left: 15px;
	color: rgb(192,0,0);
	cursor: pointer;
	font-size: 140%;
	vertical-align: -3px;
}

#linkteilen {
	margin-right: 0px;
}

#linkkopierttd {
	display: none;
}

#linkteilen2 {
	color: rgb(0, 160, 20);
	font-weight: bold;
	cursor: default;
	margin-right: 0px;
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
	font-size: 100%;
}

#teilenbeschreibung {
	display: none;
	cursor: default;
	margin-right: 20px;
}